*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    background-color: #f7f7f7;
    background-image: url(../images/botanic-001-freepik.jpg), url(../images/botanic-001-fliped-freepik.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    backdrop-filter: blur(5px);
    background-position: -12em, 108%;
    background-attachment: fixed;
    color: #808080;
    // height: 100vh;
}

.container {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 8px #aaaaaa;
    width: 95%;
    max-width: 140em;
    min-width: 30em;
    height: 100vh;

    .header{
        // background-color: #1575;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .header-logo{
            align-self: center;
            max-width: 10em;
            max-height: 20em;
        }
        .menu{
            min-width: 100%;
            padding: 2em 0;

            .menu-list{
                // background-color: #157;
                display: flex;
                justify-content: space-evenly;
                min-width: 100%;

                .menu-items{
                    list-style: none;
                    border-left: solid 0.2em #808080;
                    border-right: solid 0.2em #808080;
                    padding: 0 0.5em;
                }
            }
        }
    }

    .main{
        background-color: #0003;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        padding: 2em 3em;

        .cards{
            padding-top: 1em;
            display: flex;
            align-items: center;
        }
    }

    .footer{
        // background-color: #5725;
        display: flex;
        min-width: fit-content;
        align-items: center;
        padding-top: 1em;
        
        .footer-logo{
            img{
                width: 4em;
            }
        }
        .copyright{
            padding-left: 1em;
        }
    }
}

@media (max-width: 30em){
    body{
        background-image: none;
    }
    .container {
        width: 100%;
    }
}   