@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 62.5%;
    background-color: #f7f7f7;
    background-image: url(../images/botanic-001-freepik.jpg), url(../images/botanic-001-fliped-freepik.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    backdrop-filter: blur(5px);
    background-position: -5em, 103%;
    background-attachment: fixed;
    color: #808080;
}

.container {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 8px #aaa;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: space-between;
    margin: auto;
    width: 95%;
    height: 100vh;
    min-width: 30em;
    max-width: 124em;
    transition: all 300ms ease;

    .header{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 1em;

        .header-logo{
            align-self: center;
            max-width: 10em;
            max-height: 20em;
        }
        .menu{
            width: 50%;
            min-width: 70%;
            max-width: 10em;
            font-size: 1.8em;
            font-weight: 500;
            padding: 1.5em 0;
            text-transform: uppercase;

            .menu-list{
                display: flex;
                justify-content: space-evenly;

                .menu-items{
                    list-style: none;
                    border-left: solid 0.1em #808080;
                    border-right: solid 0.1em #808080;
                    padding: 0 0.3em;
                }
            }
        }
    }

    .main{
        display: grid;
        grid-template-rows: 0.4fr 0.6fr;
        color: #fff;
        margin:0 1em;
        
        .card-commons{
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 0.25em;
            margin-left: 1em;
            box-shadow: 0 0 0.75em #0005;
            
            .card-title{
                font-size: 2em;
                font-weight: 700;
            }
            .card-description{
                font-size: 1.5em;
                padding: 0 3em 0em 1em;
                margin-top: 0.2em;
                font-weight: 400;
                overflow: hidden;
                height: 70%;
            }
            .card-description-promo{
                font-size: 1.5em;
                padding: 0 15em 0 1em;
            }
            .card-description-promo-600{
                display: none;
            }
            .card-description-600{
                display: none;
            }

            .btn-promo{
                color: #388;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-right: 2em;
                margin-bottom: 2em;
                cursor: pointer;
                padding: 0.5em 3em;
                font-weight: 700;
                border: none;
                border-radius: 0.5em;
            }

            
            .more{
                background-color: #fcfcfc;
                color: #388;
                clip-path: url(#svg-path);
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 1.5em;
                font-weight: 700;
                letter-spacing: 0.15em;
                text-decoration: none;
                padding: 0.1em 0.5em 0.1em 4em;
                margin: -1em -0.7em -0.7em 0;                
            }

        }
        .blurred-bg{
            background-color: #684b4b65;
            backdrop-filter: blur(1px);
            position: absolute;
            inset: 0em;
            margin: 1em;
            padding: 1em;
            border-radius: 1.5em 0.25em 0.25em 0.25em;
            box-shadow: 0 0 0.5em #0008;
        }
        .blurred-bg-promo{
            background-color: #684b4b65;
            backdrop-filter: blur(1px);
            position: absolute;
            inset: 0em;
            margin: 1em;
            padding: 1em;
            border-radius: 1.5em 0.25em 0.25em 0.25em;
            box-shadow: 0 0 0.5em #0008;
        }
        .blurred-bg-promo::after{
            position: absolute;
            content: '';
            width: 24em;
            height: 15em;
            top: 0;
            right: 0;
            border-top: solid 1px #fff;
            border-right: solid 1px #fff;
            border-radius: 0.25em 0 0 0;
        }
        .blurred-bg-promo::before{
            position: absolute;
            content: '';
            width: 22.5em;
            height: 12.5em;
            bottom: 0;
            left: 0;
            border-left: solid 1px #fff;
            border-bottom: solid 1px #fff;
            border-radius: 0 0 0 0.25em;
        }
        .blurred-bg::after{
            position: absolute;
            content: '';
            width: 2em;
            height: 2em;
            top: 0;
            right: 0;
            border-top: solid 1px #fff;
            border-right: solid 1px #fff;
            border-radius: 0.25em 0 0 0;
        }
        .blurred-bg::before{
            position: absolute;
            content: '';
            width: 2em;
            height: 2em;
            bottom: 0;
            left: 0;
            border-left: solid 1px #fff;
            border-bottom: solid 1px #fff;
            border-radius: 0 0 0 0.25em;
        }
        .promo-card{
            background-image: url(../images/river-pexels.jpg);
            margin-left: 0;
        }
        .cards-template{
            display: grid;
            grid-template-columns: repeat(3, minmax(30%, 1fr));
            justify-content: space-evenly;
            padding-top: 2em;

            
            .card-01{
                background-image: url(../images/terrarium-pexels.jpg);
                margin-left: 0;
            }
            .card-02{
                background-image: url(../images/couple-001-pexels.jpg);
            }
            .card-03{
                background-image: url(../images/plant-001-pexels.jpg);
            }
        }
    }

    .footer{
        // background-color: #5725;
        display: flex;
        justify-content: center;
        min-width: fit-content;
        align-items: center;
        padding: 1em 0;
        
        .footer-logo{
            img{
                width: 4em;
            }
        }
        .copyright{
            padding-left: 1em;
            .company-name{
                font-size: 1.5em;
            }
            .developer{
                font-size: 1.1em;
            }
        }
    }
}

//mobile response
@media (max-width: 600px){
    body{
        background-image: none;
    }
    .container {
        width: 100%;
        box-shadow: none;
        
        .header{
            .menu{
                min-width: 20em;
                .menu-list{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: auto;
                }
            }
        }
        
        .main{
            grid-template-rows: 0.25fr 0.75fr;

            .card-commons{
                .card-description{
                    display: none;
                }
                .card-description-promo-600{
                    display: block;
                    font-size: 1.5em;
                    padding-left:1em;
                    padding-right: 0;
                    margin-top: 1em;
                    font-weight: 400;
                    margin-top: 0;
                }
                .card-description-600{
                    display: block;
                    font-size: 1.5em;
                    font-weight: 400;
                    padding-left: 1em;
                    padding-right: 0;
                }
                .more{
                    display: none;
                }
                .btn-promo{
                    display: none;
                }
            }
            .blurred-bg{
                border-radius: 1.5em 0.25em;
            }
            .blurred-bg-promo{
                border-radius: 1.5em 0.25em;
            }
            .blurred-bg-promo::after{
                position: absolute;
                content: '';
                width: 2em;
                height: 2em;
                top: 0;
                right: 0;
                border-top: solid 1px #fff;
                border-right: solid 1px #fff;
                border-radius: 0.25em 0 0 0;
            }
            .blurred-bg-promo::before{
                position: absolute;
                content: '';
                width: 2em;
                height: 2em;
                bottom: 0;
                left: 0;
                border-left: solid 1px #fff;
                border-bottom: solid 1px #fff;
                border-radius: 0 0 0 0.25em;
            }
            .cards-template{
                grid-template-columns: 1fr;
                padding-top: 1em;
                .card-02{
                    margin: 1em 0 0 0;
                }
                .card-03{
                    margin: 1em 0 0 0;
                }
            }
        }
    }
} 